body
{
	background: #373737 url("../../asset/images/bg.png") 0 0 repeat;
	font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #404040;
}

.title-wrapper
{
	padding: 10px; text-align: center; border-bottom: 1px dashed #ccc;
	margin-bottom: 20px;
}
.title-wrapper .title
{
	color: white;
	text-shadow: 1px 1px 10px #c0392b;
	font-family: 'Indie Flower', cursive;
}


.login-wrapper
{
	padding: 30px 10px;
	padding-top: 100px;
}
.login-wrapper .title:hover{color: #00a1d2}

.login
{
	font-weight: 300;
	color: #a8a7a8;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.login .message
{
	padding: 10px 20px; color:#ccc; 
	border: 1px solid #00a1d2;
	border-radius: 5px;
	background: transparent;
}

.login > input, button, label 
{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;font-weight: 300;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.login label
{
	font-weight: bold; padding: 10px;
}

.login .input
{
	padding: 20px; color: #bbb;text-shadow: 1px 1px 1px black;
	background: rgba(0, 0, 0, 0.16);border: 0;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.login .submit
{
	color: #ccc;
	padding: 10px 40px;
	background: #373737 url("../../asset/images/bg.png") 0 0 repeat;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

